<br><br>

<div class="card">
  <h1>Editar Tweet</h1>

  <%= render "form", tweet: @tweet %>
  
  <br>
  
  <div>
    <%= link_to "Ver este Tweet", @tweet %> |
    <%= link_to "Regresar a tweets", tweets_path %>
  </div>
</div>



