<p style="color: green"><%= notice %></p>
<div id="tweets">
  <% @tweets.each do |tweet| %>
    <%= render tweet %>
  <% end %>
</div>

<div class="container col-4">
  <div class="p-3 mb-2 bg-white text-center"><h1><%=raw pagy_nav(@pagy)%></h1></div>
</div>



